body{
    background-color: white;
    position: absolute;
    animation-name: body;
    animation-duration: 15s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    overflow: hidden;
    user-select: none;
}

@keyframes body{
    0%{background-color: #FFFFFF; }
    25%{background-color: #D3D3D3;}
    50%{background-color: #A9A9A9;}
    75%{background-color: #3E3F41;}
    100%{background-color: 	#000000;}
}

.soss{
    position: absolute;
    top: 5vw;
    color: royalblue;
    font-family:Impact, fantasy;
    font-size: 3em;
    width: 100vw;
    display: inline-block;
    text-align: center;
}

/*youtube video that helped with marquee : https://www.youtube.com/watch?v=tsrsSiYueTk */
@keyframes scroll {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-100%,0);
    }
}


.marquee {
    position: absolute;
    top: 10vh;
    display: block;
    width: 100vw;
    white-space: nowrap; 
    overflow: hidden; 
    color: royalblue;
    font-family: Bradley Hand, cursive;
    font-size: 6vw;
    user-select: none;
} 

.marquee span {
    display: inline-block;
    animation: scroll 80s infinite linear;
    z-index: 20;
}
/*end of marquee */


/* Author: Morgan Wilson

Purpose: the following keyframes and div tags allow for our individual pictures to slowly change into other pictures. the goal in this is to show  change in teenagers over time.
*/


.picture {
    top: 70vh;
    height: 30vh;
    left: 40vw;
    position: absolute;
    animation-name: picture;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes picture{
    0%{content: url(sad1.png) ;}
    25%{content: url(sad2.png);}
    50%{content: url(sad3.png);}
    75%{content: url(sad4.png);}
    100%{content: url(sad5.png);}
}

div {
    width: 20vw;
    height: 20vh;    
}

.picture2 {
    position: absolute;
    top: 70vh;
    height: 30vh;
    left: 20vw;
    animation-name: picture2;
    animation-duration: 15s;
    animation-iteration-count: linear;
    animation-fill-mode: forwards;
}

@keyframes picture2 {
    0%{content: url(sleep1.png) ;}
    25%{content: url(sleep2.png);}
    50%{content: url(sleep3.png);}
    75%{content: url(sleep4.png);}
    100%{content: url(sleep5.png);}
}

.picture3 {
    position: absolute;
    top: 70vh;
    height: 30vh;
    left: 60vw;
    animation-name: picture3;
    animation-duration: 15s;
    animation-iteration-count: linear;
    animation-fill-mode: forwards;
}

@keyframes picture3{
    0%{content: url(stressed1.png) ;}
    25%{content: url(stressed2.png);}
    50%{content: url(stressed3.png);}
    75%{content: url(stressed4.png);}
    100%{content: url(stressed5.png);}
}

.picture4 {
    position: absolute;
    top: 70vh;
    height: 30vh;
    left: 80vw;
    animation-name: picture4;
    animation-duration: 15s;
    animation-iteration-count: linear;
    animation-fill-mode: forwards;
}

@keyframes picture4{
    0%{content: url(fail1.png) ;}
    25%{content: url(fail2.png);}
    50%{content: url(fail3.png);}
    75%{content: url(fail4.png);}
    100%{content: url(fail5.png);}
}

.picture5 {
    position: absolute;
    top: 70vh;
    height: 30vh;
    left: 0vw;
    height: 30vh;
    animation-name: picture5;
    animation-duration: 15s;
    animation-iteration-count: linear;
    animation-fill-mode: forwards;
}

@keyframes picture5{
    0%{content: url(work1.png) ;}
    25%{content: url(work2.png);}
    50%{content: url(work3.png);}
    75%{content: url(work4.png);}
    100%{content: url(work5.png);}
}

/* end of keyframes for the five pictures.*/

/* zoompic allows the picture to get bigger once its clocked on*/
.zoompic {
    transition-duration: .5s;
}

.zoompic:active {
    top: 40vh;
    left: 20vw;
    width: 60vw;
    height: 60vh;
    z-index: 3;
    transition-duration: .5s;
}

/* end of zoompic*/

.ship{
    position: fixed;
    top: 27vh;
    right: 25vw;
    width: 50vw;
    height: 70vh;
    z-index: -1;
}
